@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   background-color: #F0F2F5;
    padding:0;
    margin:0%;
    font-family: 'Poppins', sans-serif;

}
.addingForms{
	display:none;
}

.main{
    display: grid;
    height: 100vh;
    width:100%;
    grid-template-columns: 1.2fr 1fr;
   
}
.pub{
margin-bottom: 185px;
display: flex;
justify-content:center;
align-items:center;
}
.title{
    font-size:4em;
    font-weight:800;
    text-decoration: solid;
    color:#22A39F;
}
.paragraphe{
    display: flex;
    font-size:1.5em;
    text-decoration: solid;
}
.left{
    width :470px;
}

.login{
    display: flex;
flex-direction: column;
    align-items:center;
    justify-content: center;
    
    width:450px;
   
    margin-top: 150px;
    margin-right: 50px;
}
.page{
    margin-top: 10px;
    display: flex;
    width: 450px;
text-decoration: none;
color: black;
display: flex;
justify-content: center;
align-items: baseline;
}
.new-link{
    margin-right:5px;
    width:auto;
    font-size:1em;
    text-decoration: none;
    text-decoration: solid;
    text-decoration: none;
color: black;
}
.pr{
    font-size: 0.8em;
}
.main1{
    display: flex;
    flex-direction: column;
    background-color:#22A39F;
    background-color:white;
    height:300px;
    padding:15px;
box-shadow: 1px 1px rgb(224, 207, 207);
    border-radius: 8px;
    width:350px;
}
.mail{
    background-color:white;
    border: 1px solid #F0F2F5;
    height: 120px;
    margin:5px;
    padding:5px;
    border-radius:8px;
}
.submit{
    height:120px;
    padding:5px;
    color:white;
    font-size:1.2em ;
    text-decoration: solid;
    border:none;
    border-radius:8px;
    background-color: #22A39F;
    transition: 0.7s ease;
margin: 8px;}

.forget{
    display: flex;
    justify-content: center;
    background-color: white;
    padding:0px;
    color:#22A39F ;
    align-items: center;
    text-decoration: none;
    margin: 10px;
}
hr{
    margin:10px;
    color: aqua;
}
.create-acount{
    border: none;
    border-radius:8px;
    height: 120px;
    background-color: #36A420;
    color:white;
    font-size:1.2em ;
    text-decoration: solid;
    width:200px;
    height: 110px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 80px;
    transition: 0.7s ease;
}
.create-acount:hover{
    cursor: pointer;
    background-color:#1a7708;
}
.submit:hover{
    cursor: pointer;
    background-color:#22A39F;
    transform:scale(1.1);

}

.pjstl{

	padding-left:10px;
	padding-top:50px;
	font-size:1.8em ;
	font-weight:500;    
	
	
	
}

.logoutbut{
  border: 0;
  text-align: center;
  display: inline-block;
  padding: 14px;
  width: 150px;
  margin: 7px;
  color: #ffffff;
  background-color: #22A39F;
  border-radius: 8px;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
}

.logoutbut:hover{
	
	cursor: pointer;
    transform:scale(1.05);
	
	
}






